<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Todo List</title>
  <link rel="stylesheet" href="css/style.css">

  <!-- fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Style+Script&family=ZCOOL+KuaiLe&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat&family=Shadows+Into+Light&family=Style+Script&family=Yanone+Kaffeesatz:wght@300&family=ZCOOL+KuaiLe&display=swap"
    rel="stylesheet">
</head>

<body>
  <!-- <h1 id="title">❤︎ Todo List</h1> -->

  <div class="box" id="heading">
    <h1><%= theDate %></h1>
  </div>

  <div class="box">
    <ul>

      <% for (var i = 0; i < todoList.length; i++){ %>

      <li>
        <input type="checkbox" id="<%= todoList[i].id %>">

        <%= todoList[i].event %> - <%= todoList[i].dueDate %>

        <form action="/delete/<%= todoList[i].id %>" method="post">
          <button type="text" name="deleteButton">
            Delete
          </button>
        </form>

      </li>
      <% } %>
    </ulmmk>

    <form class="" action="/" method="post">
      <label for="">Event</label>
      <input type="text" name="newEvent" class="newEvent">
      <br>
      <label for="">Due Date</label>
      <input type="text" name="newDueDate">
      <button type="submit" name="button">Add</button>
    </form>

  </div>


</body>

</html>